<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hiroshi_homma.homma_create.hiroshi_create_android">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Application-->
    <application
            android:allowBackup="true"
            android:name=".AndroidApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"
            android:fullBackupContent="@xml/backup_descriptor"
            tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~6300978111"/>
      <!--Activities-->
        <activity
            android:name="hiroshi_homma.homma_create.hiroshi_create_android.core.navigation.RouteActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name=".products.login.LoginActivity"-->
            <!--android:label="@string/login_screen_title">-->
        <!--</activity>-->

        <activity
            android:name=".feature.homma_create_processing.presentation.activity.TopActivity"
            android:label="@string/top_screen_title">
        </activity>

        <activity
            android:name=".feature.homma_create_processing.presentation.activity.DetailsActivity"
            android:label="@string/details_screen_title"
            android:theme="@style/AppTheme.Translucent">
        </activity>

    </application>

</manifest>

